*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #1d1b38;
}

.logo img{
    height: 200px;
    width: 200px;
    margin-left: 6em;
}

.wrapper_courseIntro{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #1d1b38;
}

.wrapper_courseIntro .left_content{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper_courseIntro .left_content .heading{
    font-family: monospace;
    font-size: 3.5em;
    font-weight: 1000;
    color: white;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
   
    /* margin-right: 1em; */
}

.wrapper_courseIntro .left_content .description{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    margin-top: 1em;
    padding-left: 7.5em;
    padding-right: 6em;
}

.wrapper_courseIntro .left_content .btn{
    /* position: absolute; */
    height: 3em;
    width: 10em;
    border: none;
    border-radius: 2em;
    background-color: white ;
    color: #1D1B38;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
   
}


.wrapper_courseIntro .right_content{
    display: flex;
    flex-basis: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

.wrapper_courseIntro .right_content img{
    width: 600px;
    height: 400px;
}

/* batch details */
.batchdetails{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(247, 237, 237);
    justify-content: center;
    align-items: center;
}

.batchdetails p{
    font-family: monospace;
    font-weight: 550;
    font-size: 1.5em;
    color: #1D1B38;
    margin-left: 5px;
}

/* coursetools section */
.coursetools_section{
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.coursetools_section .firstcard{
    display: flex;
    height: 14vh;
    width: 25em;
    border: 1.5px solid rgb(231, 228, 228);
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}

.coursetools_section .firstcard p{
    font-family: monospace;
    font-size: 2em;
    font-weight: 700;
    color: rgb(110, 109, 105);

}



.coursetools_section_heading{
    display: flex;
    height: 10vh;
    width: 100%;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.coursetools_section_heading p{
    font-size: 3em;
    font-family: monospace;
    font-weight: 800;

}

.coursetools_section_footer{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.coursetools_section_footer .btn_download{
    height: 3em;
    width: 12em;
    bottom: 10em;
    border: 1px solid rgb(238, 171, 27);
    border-radius: 0.2em;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}

.coursetools_section_footer .btn_download:hover{
    background-color:  rgb(238, 171, 27);
    color: white;
}

/* certification section start here */
.certification_section{
    display: flex;
    height: 60vh;
    width: 100%;

}

.certification_section .certification_content{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 60vh;
    background-color: #1d1b38;
    justify-content: center;
    align-items: center;
}

.certification_section .certification_content .heading{
    font-family: monospace;
    font-size: 2.3em;
    font-weight: 1000;
    color: white;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.certification_section .certification_content .description{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    padding-left: 6em;
    margin-top: 1em;
    padding-right: 5em;
    text-align: center;
}

.certification_section .certification_image{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    
}

.certification_section .certification_image img{
    transition:transform 0.1s;
}

.certification_section .certification_image img:hover{
    transform:scale(1.3);
    padding: 0.5em;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* benefit section start here */
.benefit_section{
    display: flex;
    flex-direction: column;
    height: 70vh;

}

.benefit_section .benefit_section_heading{
    display: flex;
    height: 10vh;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.benefit_section .benefit_section_heading p{
    font-size: 2em;
    font-family: monospace;
    font-weight: 800;
    color: #1d1b38;
}

.benefit_section .benefit_section_content{
    display: flex;
    height: 60vh;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;

}

.benefit_section .benefit_section_content .benefit_box{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
}

.benefit_section .benefit_section_content .benefit_box p{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 520;
    color: #1d1b38;
    margin-top: 0.5em;
}

/* project section start here */
.project_section{
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    background-color: aliceblue;
}

.project_section .project_section_heading{
    display: flex;
    height: 10vh;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.project_section .project_section_heading p{
    font-size: 2em;
    font-family: monospace;
    font-weight: 800;
    color: #1d1b38;
}

.project_section .project_section_content{
    display: flex;
    height: 70vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 1em; */
    /* margin-right: 1em; */

}

.project_section .project_section_content .project_box{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: white;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #eee;
}

.project_section .project_section_content .project_box .head{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 900;
    color: #1d1b38;
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;
}

.project_section .project_section_content .project_box p{

    font-family: monospace;
    font-size: 1.2em;
    font-weight: 500;
    color: #1d1b38;
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;

}

.project_section .project_section_footer{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.project_section .project_section_footer .btn1_download{
    height: 3em;
    width: 15em;
    bottom: 10em;
    border: 1px solid #1D1B38;
    border-radius: 0.2em;
    background-color: white;
    color: #1d1b38;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}

.project_section .project_section_footer .btn1_download:hover{
    background-color: #1D1B38;
    /* color: white;ss */
}

.project_section .project_section_footer .btn1_download a{
    text-decoration: none;
    color:#1D1B38;
    /* color: #1d1b38; */
}
.project_section .project_section_footer .btn1_download a:hover{
    color: white;

}




  /* faq */

  /* .faq_container{
      display: flex;
      justify-self: center;
      align-items: center;
      width: 100%;
      height: auto;
  } */

  .box{
    width: 60%;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
 }
 
 .box .heading{
    background: #7800CF;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: monospace;
 }
 
 .faqs{
    padding: 0px 20px 20px;
    /* transition: 5s ease-in-out; */
 }
 
 ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
 
 details{
    background: #f6f6f6;
    padding-top: 10px;
    padding: 20px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
 }
 
 details summary{
    outline: none;
 }

 details .text {
     padding-top: 10px;
 }
 
  
  /* end */

.ready{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1d1b38;

}

.ready p{
    font-family: monospace;
        font-size: 3em;
        font-weight: 1000;
        color: white;
        text-align: center;
}

.ready .btn{
    height: 3em;
    width: 10em;
    border: none;
    border-radius: 2em;
    background-color: white;
    color: #1D1B38;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
}

.ready .contact .btn{
    height: 3em;
    width: 10em;
    border: none;
    border-radius: 2em;
    /* background-color: rgb(238, 171, 27) ; */
    color: #1d1b38;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
}

.ready .contact .btn:hover{
    background-color:#1D1B38;
    color: white;
    border: 1px solid white;
}

.footer-copyright{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1d1b38;

}

.footer-copyright p{
    font-size: 1em;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: monospace;
}



@media screen and (max-width: 796px){

    .logo{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #1d1b38;
    }
    
    .logo img{
        height: 100px;
        width: 100px;
        margin-right: 8em;
        
    }
    .wrapper_courseIntro{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: #1d1b38;
    }

    .wrapper_courseIntro .left_content{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .wrapper_courseIntro .left_content .heading{
        font-family: monospace;
        font-size: 2.5em;
        font-weight: 1000;
        color: white;
        text-align: center;
        /* padding-left: 1em;
        padding-right: 1em; */
    }
    .wrapper_courseIntro .left_content .description{
        font-family: monospace;
        font-size: 1.5em;
        font-weight: 500;
        color: white;
        margin-top: 1em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }

    .wrapper_courseIntro .right_content{
        display: flex;
        flex-basis: 50%;
        height: auto;
        justify-content: center;
        align-items: center;
        /* background-color: bisque; */
    }
    
    .wrapper_courseIntro .right_content img{
        width: 80%;
        height: 330px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .batchdetails p{
        font-size: 1em;
    }

    /* coursetools section */
    .coursetools_section_heading{
        display: flex;
        height: 10vh;
        width: 100%;
        padding-top: 1em;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
    }
    
    .coursetools_section_heading p{
        font-size: 2em;
        font-family: monospace;
        font-weight: 800;
        text-align: center;
        color: rgb(70, 68, 68);
    
    }


.coursetools_section{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.coursetools_section .firstcard{
    display: flex;
    height: 14vh;
    width: 24em;
    border: 1.5px solid rgb(231, 228, 228);
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5em;
}

.coursetools_section .firstcard p{
    font-family: monospace;
    font-size: 2em;
    font-weight: 700;
    color: rgb(110, 109, 105);

}
.coursetools_section_footer{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.coursetools_section_footer .btn_download{
    height: 3em;
    width: 12em;
    bottom: 10em;
    border: 1px solid rgb(238, 171, 27);
    border-radius: 0.2em;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
}

.coursetools_section_footer .btn_download:hover{
    background-color:  rgb(238, 171, 27);
    color: white;
}

/* certification section start here */
.certification_section{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

}

.certification_section .certification_content{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: auto;
    background-color:#1d1b38 ;
    justify-content: center;
    align-items: center;
}

.certification_section .certification_content .heading{
    font-family: monospace;
    font-size: 2.3em;
    font-weight: 1000;
    color: white;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.certification_section .certification_content .description{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    padding-left: 4em;
    margin-top: 1.5em;
    padding-right: 2em;
    margin-right: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.certification_section .certification_image{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.certification_section .certification_image img{
    width: 70%;
    height: 70%;
}



.benefit_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}

.benefit_section .benefit_section_heading{
    display: flex;
    height: 10vh;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.benefit_section .benefit_section_heading p{
    font-size: 2em;
    font-family: monospace;
    font-weight: 800;
    color: #1d1b38;
}

.benefit_section .benefit_section_content{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;

}

.benefit_section .benefit_section_content .benefit_box{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    /* background-color: cornflowerblue; */
}

.benefit_section .benefit_section_content .benefit_box p{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 520;
    color: #1d1b38;
    margin-top: 0.5em;
}

/* project section start here */
.project_section{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    background-color: aliceblue;
}

.project_section .project_section_heading{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    
}

.project_section .project_section_heading p{
    font-size: 2em;
    font-family: monospace;
    font-weight: 800;
    margin-bottom: 1em;
    margin-top: 0.5em;color:#1d1b38;
}

.project_section .project_section_content{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}

.project_section .project_section_content .project_box{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 80%;
    background-color: white;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.project_section .project_section_content .project_box p{

    font-family: monospace;
    font-size: 1.2em;
    font-weight: 500;
    color: #1d1b38;
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;

}

.project_section .project_section_footer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.project_section .project_section_footer .btn_download{
    height: 3em;
    width: 15em;
    bottom: 10em;
    border: 1px solid #1D1B38;
    border-radius: 0.2em;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.project_section .project_section_footer .btn_download:hover{
    background-color: #1D1B38;
    color: white;
}

.box{
    width: 85%;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
 }
 
.ready p{
    margin-top: 1em;
    font-size: 2em;
}

.contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}